aside(data-hook="time-control")
  section(data-hook="times").row
    div(data-hook="start-time", class="col-xs-offset-1 col-xs-2 text-left")
    div(data-hook="current-time", class="col-xs-offset-2 col-xs-2 text-center")
    div(data-hook="end-time", class="col-xs-offset-2 col-xs-2 text-right")
  section(data-hook="progress").row
    div(class="form-group col-xs-offset-1 col-xs-10")
      input(type="range", data-hook="seek-bar")
  section(data-hook="controls").row
